<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">
    <link rel="stylesheet" href="{% static "css\internship3.css" %}">
    <script src="internship3.js" charset="utf-8"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:700">
      <style>
        body { background-color: brown; }
      </style>
  </head>
  <body>
        <nav id="nav" class="navbar navbar-fixed-top navbar-default navbar-expand-lg navbar-light" style="background-color:#aab26b;">
<div class="container">

          <a id="logo" class="navbar-brand" href="#">Logo</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

                    <form action="" class="search-form">
                        <div class="form-group has-feedback">
                        <label for="search" class="sr-only"></label>
                        <input type="text" class="form-control" name="search" id="search" placeholder="search">
                          <span class="glyphicon glyphicon-search form-control-feedback"></span>

                      </div>
                    </form>

          <li class="nav-item">
            <a id="list" class="nav-link" href="#">Home</a>
          </li>

          <li class="nav-item">
            <a id="list" class="nav-link" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a id="list" class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a id="list" class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a id="list" class="nav-link" href="#">Testimonials</a>
          </li>
          <li class="nav-item">
            <a id="list" class="nav-link" href="#">Contacts</a>
          </li>

          </ul>
          </div>
        </nav>

<div class="table">
<table border="1" align="center">
  <tr>
    <td id=one><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></td>
    <td id=two><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></td>
    <td id=three><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></td>
  </tr>

</table>
</div>

  <div class="container">
    <img src="http://michael-ferry.com/assets/accordion5.jpg" alt="Avatar" class="image">
    <div class="overlay">
      <div class="text"><strong>Lorem IPSUM</strong><br><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
    </div>
  </div>
<br>
  <blockquote>
    <p><q>The U.S. is fast approaching $19,000,000,000,000.00 in national debt. This is mathematically impossible to ever pay back &hellip; even if every American was taxed at 100%.</q></p>
    <footer>Charles Goyette, The Dollar Meltdown</footer>
  </blockquote>
  <blockquote>
    <p><q>79 million Baby Boomers are about to retire, pull their money out of the economy, and demand their $35 Trillion Dollars in Social Security &amp; Medicare. Think that through&hellip;</q></p>
    <footer>Robert Kiyosaki</footer>
</blockquote>

<div class="accordion">
  <ul>
    <li tabindex="1">
      <div>
        <a href="#">
          <h2>Lorem Ipsum</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </a>
      </div>
    </li>
    <li tabindex="2">
      <div>
        <a href="#">
          <h2>Lorem Ipsum</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </a>
      </div>
    </li>
    <li tabindex="3">
      <div>
        <a href="#">
          <h2>Lorem Ipsum</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </a>
      </div>
    </li>
    <li tabindex="4">
      <div>
        <a href="#">
          <h2>Lorem Ipsum</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </a>
      </div>
    </li>
    <li tabindex="5">
      <div>
        <a href="#">
          <h2>Lorem Ipsum</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </a>
      </div>
    </li>
    <li tabindex="6">
      <div>
        <a href="#">
          <h2>Lorem Ipsum</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </a>
      </div>
    </li>
  </ul>
</div>
</div>

<div class="sm">
  <a id="sm" href="#"><span>Facebook</span></a>
  <a id="sm" href="#"><span>Twitter</span></a>
  <a id="sm" href="#"><span>Google+</span></a>
  <a id="sm" href="#"><span>Dribbble</span></a>
  <a id="sm" href="#"><span>Github</span></a>
  <a id="sm" href="#"><span>CodePen</span></a>
</div>

<div class="promos">
<div class="promo">
  <div class="deal">
    <span>Premium</span>
    <span>This is really a good deal!</span>
  </div>
  <span class="price">$79</span>
  <ul class="features">
    <li>Some great feature</li>
    <li>Another super feature</li>
    <li>And more...</li>
  </ul>
  <button>Sign up</button>
</div>
<div class="promo">
  <div class="deal">
    <span>Plus</span>
    <span>This is really a good deal!</span>
  </div>
  <span class="price">$89</span>
  <ul class="features">
    <li>Some great feature</li>
    <li>Another super feature</li>
    <li>And more...</li>
  </ul>
  <button>Sign up</button>
</div>
<div class="promo">
  <div class="deal">
    <span>Basic</span>
    <span>Basic membership</span>
  </div>
  <span class="price">$69</span>
  <ul class="features">
    <li>Choose the one on the left</li>
    <li>We need moneyy</li>
    <li>And more...</li>
  </ul>
  <button>Sign up</button>
</div>
</div>

<p></p><footer id="foot">
   <p><a href="#">365</a>
   Powered by 365 Entertainment . All rights reserved </p>
</footer>

  </body>
</html>
